* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
body {
  background-image: url(foto/12.jpg);
}

hr {
  color: white;
}

.q {
  height: 350px;
  width: 270px;
  position: absolute;
  transform: translate(1.2%);
  padding-top: 2px;
  padding-left: 1rem;
}

h1 {
  padding-top: 2rem;
  padding-left: 2rem;
  color: white;
  animation-name: slide;
  animation-duration: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.fas {
  padding-left: 2rem;
  transform: translate(600%, -200%);
  animation-name: slide;
  animation-duration: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.container {
  animation-name: slide;
  animation-duration: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: 250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: 250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.bi {
  position: absolute;
  transform: translate(200%, -150%);
  font-size: 30px;
}
