* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-image: url('foto/12.jpg');
}

h1 {
  padding-top: 2rem;
  padding-left: 2rem;
  animation-name: slide;
  animation-duration: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

hr {
  color: white;
}

.text {
  margin: 1rem;
  animation-name: slide;
  animation-duration: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.hitam {
  color: black;
}

.fas {
  padding-left: 2rem;
  transform: translate(600%, -200%);
  animation-name: slide;
  animation-duration: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  animation-name: slide;
  animation-duration: 2s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -250px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
