* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-image: url('foto/12.jpg');
}

h1 {
  padding-top: 2rem;
  padding-left: 2rem;
}

hr {
  color: white;
}

.text {
  margin: 1rem;
}

.hitam {
  color: black;
}
